{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container col-md-10" style="margin-top:15px">
        <!-- Outputting erros -->
        {% if form.old_password.errors %}
            <div id="password_change-form-errors" class="alert alert-danger col-md-8 offset-md-2 alert-dismissible fade show" role="alert" style="margin-bottom:3px">{{ form.old_password.errors }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        {% if form.new_password1.errors %}
            <div id="password_change-form-errors" class="alert alert-danger col-md-8 offset-md-2 alert-dismissible fade show"  role="alert" style="margin-bottom:3px">{{ form.new_password1.errors }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        {% if form.new_password2.errors %}
            <div id="password_change-form-errors" class="alert alert-danger col-md-8 offset-md-2 alert-dismissible fade show" role="alert" style="margin-bottom:3px">{{ form.new_password2.errors }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <div class="card col-md-8 offset-md-2 shadow p-3 mb-5 bg-white rounded">
            <div class="card-header bg-light d-flex justify-content-center">
                <h3>Change Password</h3>
            </div>
            <div class="card-body">
                <p>Temporary Password Change Method. Fill up the form for verification</p>
                <hr />
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="old_password">Enter your current password</label>
                            {{ form.old_password }}
                        </div>
                    </div>
                    <hr>
                    {{ form.help_text }}
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="new_password">Input your new password</label>
                            {{ form.new_password1 }}
                            <br/>
                        </div>
                        <div class="col-md-6">
                            <label for="new_password2">Confirm the given password</label>
                            {{ form.new_password2 }}
                            <br/>
                        </div>
                    </div>
                    <button class="btn btn-success btn-block col-md-6 offset-md-3" type="submit" style="border-bottom: 2px solid darkgreen">Let's change it!</button>
                </form>
            </div>
        </div>  
    </div>
{% endblock content %}
    